/* --------------------------메인구역--------------------------------- */
/* --------------------------1행 배너라인--------------------------------- */
main .bnr_wrap {
    height: 700px; margin-bottom: 170px;
    position: relative;
}
main .bnr_wrap .bnr_container {
    height: 100%;
}
main .bnr_wrap .bnr_container .bnr1 {
    background-image: url(../images/bnr.jpg); 
    height: 100%;
}
main .bnr_wrap .bnr_container .bnr1 .content {
    width:1400px; margin: 0 auto; height: 100%;
}
main .bnr_wrap .bnr_container .bnr1 .content .title {
    width: 50%; color: #FFF;
    position: relative; top: 40%; left: 5%;
}
main .bnr_wrap .bnr_container .bnr1 .content .title p:nth-of-type(1) {
    padding-bottom: 40px;
    font-size: 1.25rem; font-weight: 500; letter-spacing: -0.02rem;
}
main .bnr_wrap .bnr_container .bnr1 .content .title p:nth-of-type(2) {
    font-size: 1.88rem; font-weight: 700; letter-spacing: -0.02rem;
}
main .bnr_wrap .bnr_container .bnr1 .content .title h2 {
    font-size: 4.38rem; font-weight: 700; letter-spacing: -0.02rem;
}
main .bnr_wrap .prev_btn,
main .bnr_wrap .next_btn {
    position: absolute; top: 50%;
}
main .bnr_wrap .prev_btn {left: 190px;}
main .bnr_wrap .prev_btn img {}
main .bnr_wrap .next_btn {right: 190px;}
main .bnr_wrap .next_btn img {}
/* --------------------------공통디자인--------------------------------- */
main .wrap {
    padding-bottom: 200px;
}
main .wrap .title_bg {
    width: 100%; border-bottom: 1px solid #000;
}
main .wrap .row_title {
    
    width: 1400px; margin: 0 auto;
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: flex-end;
    padding-bottom: 20px;
}
main .wrap .row_title .title {}
main .wrap .row_title .title h2 {
    font-size: 2.19rem; font-weight: 700; letter-spacing: -0.02rem;
    padding-bottom: 11px;
}
main .wrap .row_title .title p {
    font-size: 1.44rem; letter-spacing: -0.02rem;
}
main .wrap .row_title > a {
    border: 1px solid #555; padding: 5px 20px;
}
main .wrap .row_title > a > img {
    width: 16px; padding-left: 5px;
}
main .wrap .content {
    width: 1400px; margin: 0 auto;
}
/* --------------------------3행,5행 공통선택자--------------------------------- */
main .wrap .row3_contents,
main .wrap .row5_contents {
    margin-top: 60px;
}
main .wrap .row3_contents ul,
main .wrap .row5_contents ul {
    display: flex; flex-flow:row nowrap; justify-content: space-between;
    width: calc(100% - 60px) / 3;
}
main .wrap .row3_contents ul li a img,
main .wrap .row5_contents ul li a img {padding-bottom: 30px;}
main .wrap .row3_contents ul li .txt,
main .wrap .row5_contents ul li .txt {text-align: center;}
main .wrap .row3_contents ul li .txt h3,
main .wrap .row5_contents ul li .txt h3 {
    padding-bottom: 20px; color: #0A5E81;
    font-size: 1.88rem; font-weight:700; letter-spacing:-0.02rem;
}
main .wrap .row3_contents ul li .txt p,
main .wrap .row5_contents ul li .txt p {
    font-size: 1.25rem; line-height:1.5; letter-spacing:-0.02rem;
}
/* --------------------------2행 MD추천--------------------------------- */
main .wrap .row2_contents {margin-top: 60px;}
main .wrap .row2_contents ul {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    width: calc(100% - 60px) / 3;
}
main .wrap .row2_contents ul li {}
main .wrap .row2_contents ul li > a {}
main .wrap .row2_contents ul li > a > img {padding-bottom: 51px;}
main .wrap .row2_contents ul li .txt {}
main .wrap .row2_contents ul li .txt h3 {
    padding-bottom: 6px;
    font-size: 1.25rem; letter-spacing: -0.02rem; line-height: 1.5;
}
main .wrap .row2_contents ul li .txt .mid_title {
    font-size: 1.88rem; font-weight: 700; letter-spacing: -0.02rem;
    color: #0A5E81;
}
main .wrap .row2_contents ul li .txt .mid_title span {
    font-size: 1.44rem; letter-spacing: -0.02rem;    
    color: #000;
}
main .row2 {}
/* --------------------------3행 오피스라인--------------------------------- */
main .wrap .row3_contents {}
main .wrap .row3_contents ul {}
main .wrap .row3_contents ul li {}
main .wrap .row3_contents ul li a {}
main .wrap .row3_contents ul li a img {}
main .wrap .row3_contents ul li .txt {}
main .wrap .row3_contents ul li .txt h3 {}
main .wrap .row3_contents ul li .txt p {}
/* --------------------------4행 NewIn--------------------------------- */
main .row4 {
    position: relative;
}
main .row4 .row_title {}
main .row4 .row4_contents {}
main .wrap .row4_contents .row4_slides {
    width: 100%; margin: 60px 0 0;
    display: flex; flex-flow: row nowrap; justify-content: space-around;
}
/* --------------------------4행 그룹선택자--------------------------------- */
main .wrap .row4_contents .row4_slides .row4_left,
main .wrap .row4_contents .row4_slides .row4_right,
main .wrap .row4_contents .row4_slides .row4_center .c_up,
main .wrap .row4_contents .row4_slides .row4_center .c_down {
    position: relative;
}
main .wrap .row4_contents .row4_slides .row4_left > p,
main .wrap .row4_contents .row4_slides .row4_right > p,
main .wrap .row4_contents .row4_slides .row4_center .c_up > .cen_txt,
main .wrap .row4_contents .row4_slides .row4_center .c_down > .cen_txt {
    position: absolute; left: 30px; bottom: 40px;
    color: #FFF;
}
main .wrap .row4_contents .row4_slides .row4_left > p,
main .wrap .row4_contents .row4_slides .row4_right > p {
    font-size: 2.19rem; font-weight: 700; line-height: 1.5; letter-spacing: -0.02rem;
}
main .wrap .row4_contents .row4_slides .row4_left p > span,
main .wrap .row4_contents .row4_slides .row4_right p > span {
    font-size: 1.88rem; font-weight: 500; line-height: 1.5; letter-spacing: -0.02rem;
}
main .wrap .row4_contents .row4_slides > * .cen_txt {
    font-size: 1.44rem; letter-spacing:-0.02rem;
}
/* --------------------------4행 개별선택자--------------------------------- */
main .wrap .row4_contents .row4_slides .row4_left {}
main .wrap .row4_contents .row4_slides .row4_left > a {}
main .wrap .row4_contents .row4_slides .row4_left > a > img {}
main .wrap .row4_contents .row4_slides .row4_left > p {}
main .wrap .row4_contents .row4_slides .row4_left > p > span {}
main .wrap .row4_contents .row4_slides .row4_center {}
main .wrap .row4_contents .row4_slides .row4_center .c_up {}
main .wrap .row4_contents .row4_slides .row4_center .c_up > a {}
main .wrap .row4_contents .row4_slides .row4_center .c_up > a > img {padding-bottom: 20px;}
main .wrap .row4_contents .row4_slides .row4_center .c_up > a > img:nth-child(2) {padding: 0;}
main .wrap .row4_contents .row4_slides .row4_center .c_up > .cen_txt {color: #000;}
main .wrap .row4_contents .row4_slides .row4_center .c_down {}
main .wrap .row4_contents .row4_slides .row4_center .c_down > a {}
main .wrap .row4_contents .row4_slides .row4_center .c_down > a > img {}
main .wrap .row4_contents .row4_slides .row4_center .c_down > .cen_txt {color: #000;}
main .wrap .row4_contents .row4_slides .row4_right {}
main .wrap .row4_contents .row4_slides .row4_right > a {}
main .wrap .row4_contents .row4_slides .row4_right > a > img {}
main .wrap .row4_contents .row4_slides .row4_right > p {}
main .wrap .row4_contents .row4_slides .row4_right > p > span {}
/* --------------------------4행 슬라이드 제어 버튼--------------------------------- */
main .row4 .prev_btn ,
main .row4 .next_btn {
    position: absolute; bottom: 40%;
}
main .row4 .prev_btn {left: 198px;}
main .row4 .next_btn {right: 198px;}
/* --------------------------5행 공방라인--------------------------------- */
main .wrap .row5_contents {}
main .wrap .row5_contents ul {}
main .wrap .row5_contents ul li {}
main .wrap .row5_contents ul li a {}
main .wrap .row5_contents ul li a img {}
main .wrap .row5_contents ul li .txt {}
main .wrap .row5_contents ul li .txt h3 {}
main .wrap .row5_contents ul li .txt p {}
